<% provide(:title, @user.name) %>
<div class="row">
    <aside class='col-md-4'>
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>

        <div> High Score: <%= current_user.high_score %> </div>
    </aside>
    <div class="col-md-8 stats">
        <%= render 'shared/stats' %>
    </div>
    <div class="col-md-8">
        <% if @user.scores.any? %>
        <h3>Scores(<%= @user.scores.count %>)</h3>
        <ol class="scores">
            <%= render @scores %>
        </ol>
        <%= will_paginate @scores %>
        <% end %>
    </div>
</div>
